@page "/logged"
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>Page Logged</h3>

<button @onclick="Matchmaking">Rejoindre le matchmaking</button>

<p>@message</p>

@code {
    private string message = string.Empty;

    private string sessionToken = string.Empty;
    
    /// <summary>
    /// Appel l'endpoint /api/matchmaking/join pour inscrire un joueur dans la file.
    /// La réponse est affichée dans un paragraphe.
    /// </summary>
    private async Task Matchmaking()
    {
        try
        {
            sessionToken = await JS.InvokeAsync<string>("localStore.get", "sessionToken"); // get token

            Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", sessionToken); 
            HttpResponseMessage response = await Http.GetAsync("http://127.0.0.1:5181/api/matchmaking/join");
            response.EnsureSuccessStatusCode();
            string responseBody = await response.Content.ReadAsStringAsync();

            Console.WriteLine("Response recieved");
            Console.WriteLine(responseBody);
            
            Navigation.NavigateTo("/matchmaking");
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Request errror: {e.Message}");
        }
    }
}